.img-box{
  margin:0;
  width: 250px;
  height:auto;
}
.movie{
  display: flex;
  flex-wrap:wrap;
  justify-content:flex-start;

}


/* Movie Card Details */
ul.img-box li{
  border: 1px solid lightgray;
  list-style-type: none;
  padding: 14px 15px;
  word-wrap: break-word;
  width: 250px;
 
}
ul.img-box{
  margin:20px;
}



/* Navigation  */
.nav{
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100pc;
  height:50px;
}

ul.nav li{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float :left;
}
ul.nav li:hover{
  background-color: #111;
}

